.encabezado {
    display: flex;
    flex-direction: row;
}

.encabezado__parrafo {
    font-size: 20px;
    width: 800px;
    margin: 0.2rem;
}

.display-1 {
margin: 0.5rem;
}



/* Declaramos primero el mixing 


@mixin sizes($width, $height) {
    height: $height;
    width: $width;
}

@mixin generarFlex($direction, $eje-principal, $eje-secundario: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $eje-principal;
    align-items: $eje-secundario;
}

*/