.seccion {
    display: grid;
    width: 100%;
    grid-template-columns: 1,1fr;
    grid-template-rows: repeat(2,auto);
    grid-template-areas:'portada' 'video';

 }

.portada {
grid-area: portada;
width: 100%;
height: 100vh;
position: relative;
}

.portada_imagen {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  
}

.portada_titulo { 
    color: black;
    background-color: white;
    font-size: 50px;
    left: 0rem;
    bottom: 0rem;
    position: absolute ;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: -9rem;
    margin: 2rem;
}

.galeria{
    background-color: #f8f8f8;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.galeria__imagen {
    display: flex;
    flex-direction: row;}

.gradientes {
    background: rgb(255,165,238);
    background: linear-gradient(90deg, rgba(255,165,238,1) 19%, rgba(102,223,247,1) 100%);
}

.col-12{
 margin-bottom: 0.5rem;
}


.high {
    background-color: rgb(158, 233, 158);
    width: 600px;
    min-height: 350px;
    padding: 1rem;
    border: solid #e793e7 8px;
    position: relative;
    display: grid;
}

.high__imagen{
width:100% ;
height: 600px;
object-fit:contain;
display: inline;
}

.high__titulo {
color: rgb(245, 238, 238);
font-size: 32px;
left: 0;
top: -1rem;
padding: 2rem;
position: absolute;
}

.delias
{   background-color: rgb(252, 161, 58);
    width: 600px;
    min-height: 350px;
    padding: 1rem;
    border: solid rgb(229, 231, 96) 8px;
    position: relative;
    display: grid;
}

.delias__imagen {
    width:100% ;
    height: 600px;
    object-fit:contain;
}

.delias__titulo {
color: rgb(243, 243, 243);
font-size: 32px;
left: 0;
top: -1rem;
padding: 2rem;
position: absolute;
}

.poster {
    background-color: rgb(58, 252, 226);
    width: 600px;
    min-height: 350px;
    padding: 1rem;
    border: solid rgba(63, 122, 233, 0.842) 8px;
    position: relative;
    display: grid;
}

.poster__imagen {
    width:100% ;
    height: 600px;
    object-fit:contain;
}

.poster__titulo {
    color: white;
    font-size: 32px;
    left: 0;
    top: -1rem;
    padding: 2rem;
    position: absolute;
}

.festival {
    background-color: rgb(207, 58, 252);
    width: 600px;
    min-height: 350px;
    padding: 1rem;
    border: solid rgb(63, 233, 105) 8px;
    position: relative;
    display: grid;
}

.festival__imagen {
    width:100% ;
    height: 600px;
    object-fit:contain;
}

.festival__titulo {
    color: rgb(240, 240, 247);
    font-size: 32px;
    left: 0;
    top: -1rem;
    padding: 2rem;
    position: absolute;
}
